@import "../variables";

// An chart detail view
//
// header          - Primary info
// header h2       - Title
// header h2:hover - Title is highlighted when hovered
//
// Styleguide base
.demochart {
  header {
    h2 {
      color: $heading-color;

      &:hover {
        color: $heading-highlight-color;
      }
    }
  }
}
