<div class="container container-fluid">
    <div class="row around-xs center-xs">
        <div class="col-xs">
            <h1 class="app__title">Example Angular 2 application</h1>
        </div>
    </div>


    <hr />
    <demo-chart></demo-chart>
</div>
     